@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
body, html {
    font-family: "Cal Sans", sans-serif;
    background-color: #000000; /* Dark background */
    color: #e2e8f0; /* Light text */
    scroll-behavior: smooth;
    font-size: 90%
}


#menu-button{
    height: 33.9px;
}
#mobile-menu{
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out, padding 0.25s ease-in-out;
}
#mobile-menu nav{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#mobile-menu.show{
    height: 200px;
    padding: 1rem;
}
#mobile-menu.show nav{
    opacity: 1;
}

.gradient-bg {
    background-image: radial-gradient(at 50% 100%, #171923, #1a202c 70%);
}

.hero-section {
    background-image: radial-gradient(circle at top right, #3a3a3a 0%, transparent 45%),
    radial-gradient(circle at bottom left, #000000 0%, transparent 45%);
    background-size: 80% 80%; /* Adjust size of gradients */
    background-repeat: no-repeat;
    background-position: top right, bottom left;
}

.animated-fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}

.animated-slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
    opacity: 0;
    transform: translateX(-20px);
    animation-delay: 0.3s; /* Delay for staggered effect */
}

.animated-slide-in-right {
    animation: slideInRight 1s ease-out forwards;
    opacity: 0;
    transform: translateX(20px);
    animation-delay: 0.6s; /* Delay for staggered effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}